*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

}
.header-banner-container{
    display: flex;
    flex-direction: row-reverse;
    padding: 230px 250px;  
    background-image: url("./banner/banner1.png") ; 
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    

}
 .header-banner-info{ 
    text-align: right; 
    
}
.header-info-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}
.header-info-text{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0px 30px 30px;
}
.btn{
    padding: 20px 25px;
    border-radius: 5px;
    background: #F15B22;
    border: none;
    color: white;
    font-size: 14px;
}
/* main start  */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.my-fail-year{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}
.fail-year-info-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.fail-year-info-text{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item >li{
    list-style: none;
    margin-top: 5px;
}   
.green{
    color: green;
    margin-right: 5px;
}
.image>img{
    width: 450px;
}
.my-plan{
    margin-top: 100px;
    text-align: center;
}
.my-plan-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.card-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}
.card-text{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
.cards-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}
.card img{
    padding: 10px;
    width: 90px;
}
.call-naw-title{
    text-align: start;
    background-image: url("./image/gradient2.png"),url("./image/watch.png") ;
    height: 300px;
    padding: 60px 0px 0px 60px;
    border-radius: 8px;
    margin-bottom: 100px;
    border-radius: 8px;  
}
.btn-pryme{
    color: #F15B22;
    background-color: white;
    border: none;
    margin-top: 20px;
}
/* footer start  */
footer{
    background-color: #151414;
    color: white;
}
.footer-container{
    max-width: 1140px;
    margin: 0px auto;
    padding: 130px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-text{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;    
}
.footer-column > a{
    color: white;
    text-decoration: none;
}
.icons{
    
    margin-top: 10px;
}
.input{
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #151414;
    color: aliceblue;
}